################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2019-11-14/Debugging/.vs/Debugging/v15
/2019-11-14/Debugging/Autos/obj/Debug
/2019-11-14/Debugging/Autos/bin/Debug
/2019-11-14/Debugging/Deadlock/obj/Debug
/2019-11-14/Debugging/Deadlock/bin/Debug
/2019-11-14/PoorlyWritten3rdParty/.vs/PoorlyWritten3rdParty/v15
/2019-11-14/PoorlyWritten3rdParty/PoorlyWritten3rdParty/obj/Debug
